<table class="table table-bordered">
  <thead>
    <tr>
      <th>Success</th>
      <th>Rate Type</th>
      <th>Provider Name</th>
      <th>Provider Service Name</th>
      <th>Provider Service Code</th>
      <th>Status</th>
      <th>Currency Code</th>
      <th>Cost</th>
      <th>Amount</th>
      <th>Total</th>
      <th>Days</th>
      <th>Insurable</th>
      <th>Has Own Agreement</th>
      <th>Own Agreement Amount</th>
      <th>Extra Fees</th>
      <th>Zone</th>
      <th>Country Code</th>
      <th>Plan Type</th>
      <th>Error Messages</th>
    </tr>
  </thead>
  <tbody>
    <% @get_quotatoin_response["rates"].each do |rate| %>
      <% next if rate["success"] == false %>
      <tr>
        <td><%= rate["rate_type"] %></td>
        <td><%= rate["provider_name"] %></td>
        <td><%= rate["provider_service_name"] %></td>
        <td><%= rate["provider_service_code"] %></td>
        <td><%= rate["status"] %></td>
        <td><%= rate["currency_code"] %></td>
        <td><%= rate["cost"] %></td>
        <td><%= rate["amount"] %></td>
        <td><%= rate["total"] %></td>
        <td><%= rate["days"] %></td>
        <td><%= rate["insurable"] %></td>
        <td><%= rate["has_own_agreement"] %></td>
        <td><%= rate["own_agreement_amount"] %></td>
        <td><%= rate["extra_fees"] %></td>
        <td><%= rate["zone"] %></td>
        <td><%= rate["country_code"] %></td>
        <td><%= rate["plan_type"] %></td>
        <td><%= rate["error_messages"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
